__pycache__
.DS_Store
.idea
*.egg-info
build
dist
output
log
messenger_test/data
docs/source/pycwb*.rst
docs/source/modules.rst

tests/*
.pytest_cache
*.iml
cwb-core/install
cwb-core/cmake-build-debug
*/vendor/lib/*
!*/vendor/lib/*.py

messenger-web-interface/node_modules
messenger-web-interface/dist

cwb_wrapper/_version.py
pycwb/_version.py

benchmark/*/*.pkl