__pycache__
.DS_Store
.idea
*.egg-info
build
dist
messenger_test/data
docs/source/*.rst
!docs/source/index.rst
docs/make.bat
docs/Makefile

tests/*
.pytest_cache
!tests/*_test.py
!tests/*.ipynb
!tests/*.yaml

cwb-core/install
cwb-core/cmake-build-debug
*/vendor/lib/*
!*/vendor/lib/*.py

messenger-web-interface/node_modules
messenger-web-interface/dist

pyburst/_version.py
pycwb/_version.py