__pycache__
.DS_Store
.idea
*.egg-info
build
dist
messenger_test/data
tests/*
.pytest_cache
!tests/*_test.py
!tests/*.ipynb
!tests/*.yaml

messenger-web-interface/node_modules
messenger-web-interface/dist